<main class="u-block trainingCenterHome row">
  <section class="col-md-7 u-block">
    <h2>Projects</h2>
    <div class="u-paper u-block">
      <h3>Pending projects</h3>
      <div ng-repeat="repo in pendingRepos">
        <div class="trainingCenterHome-requestDetails u-block">
          <button class="btn btn-success" ng-click="approveRepo(repo)">Approve</button>
          <button class="btn btn-warning" ng-click="startDecliningRepo(repo)">Decline</button>
          <div class="trainingCenterHome-declineMessage u-block u-paper" ng-show="repo.isDeclining">
            <label>
              Please, explain a reason of decline to a developer
              <textarea class="trainingCenterHome-declineMessageInput" ng-model="repo.trainingCenterMessage"></textarea>
            </label><br/>
            <button class="btn btn-default" ng-click="cancelDecliningRepo(repo)">Cancel</button>
            <button class="btn btn-danger" ng-click="declineRepo(repo)">Confirm decline</button>
          </div>
        </div>
        <sr-repo-preview repo="repo"></sr-repo-preview>
      </div>
    </div>
    <div class="u-paper u-block">
      <h3>Approved projects</h3>
      <div ng-repeat="repo in approvedRepos">
        <div class="trainingCenterHome-requestDetails u-block">
          <button class="btn btn-warning" ng-click="disapproveRepo(repo)">Move to pending</button>
          <button class="btn btn-warning" ng-click="startDecliningRepo(repo)">Decline</button>
          <div class="trainingCenterHome-declineMessage"  ng-show="repo.isDeclining">
            <label>
              Please, explain a reason of decline to a developer
              <textarea class="trainingCenterHome-declineMessageInput" ng-model="repo.trainingCenterMessage"></textarea>
            </label><br/>
            <button class="btn btn-default" ng-click="cancelDecliningRepo(repo)">Cancel</button>
            <button class="btn btn-danger" ng-click="declineRepo(repo)">Confirm decline</button>
          </div>
        </div>
        <sr-repo-preview repo="repo"></sr-repo-preview>
      </div>
    </div>
    <div class="u-block u-paper">
      <h3>Declined projects</h3>
      <div ng-repeat="repo in declinedRepos">
        <div class="trainingCenterHome-requestDetails u-block">
          <button class="btn btn-warning" ng-click="disapproveRepo(repo)">Move to pending</button>
          <button class="btn btn-danger" ng-click="approveRepo(repo)">Approve</button>
        </div>
        <sr-repo-preview repo="repo"></sr-repo-preview>
      </div>
    </div>
  </section>
  <section class="col-md-5 u-block">
    <h2>Profile details</h2>
    <article class="u-block u-paper">
      <a class="u-link" href="#/school/{{$ctrl.profile._id}}" target="_blank">See public version</a>
      <form>
        <div class="row">
          <sr-toggle
            label="'Account status'"
            state="$ctrl.accountToggleState"
            ng-model="$ctrl.profile.isPublic"
            ng-change="$ctrl.toggleAccountStatus()"
            on-notification-close="$ctrl.hideAccountStatusNotification()"
          ></sr-toggle>
        </div>
        <sr-input
          ng-model="$ctrl.profile.name"
          label="'Name:'"
        ></sr-input>
        <sr-input
          ng-model="$ctrl.profile.website"
          label="'Website:'"
        ></sr-input>
        <sr-textarea
          ng-model="$ctrl.profile.description"
          label="'Description:'"
        ></sr-textarea>
        <label>
          Training center logo:
          </label>
        <div class="trainingCenterHome-formLine">
          <button type="button" class="btn btn-default" ngf-select ng-model="newLogo">Upload</button>
          <button type="button" class="btn btn-default" ng-show="newLogo" ng-click="clearLogo()">
            Clear logo
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
        <img class="trainingCenterHome-logo trainingCenterHome-formLine" ng-if="!$ctrl.profile.hasLogo || newLogo" ngf-thumbnail="newLogo || '/client/assets/images/placeholder.svg'" />
        <img class="trainingCenterHome-logo trainingCenterHome-formLine" ng-show="$ctrl.profile.hasLogo && !newLogo" src="{{$ctrl.profile.logo}}" />
        <sr-submit-button 
          ng-click="submitDetails()"
          error-text="'Something went wrong'"
          success-text="'Account updated'"
          state="$ctrl.profileFormState"
        >
          Apply changes
        </sr-submit-button>
      </form>
    </article>
  </section>
</main> 
